.EntryDayContainer .date.highlight {
  background-color: lightblue;
}

.EntryDayContainer .EntryDayContainerContentDiv .sum {
  font-weight: bold;
}

.EntryDayContainer {
  margin-right: 12px;
  min-height: 191px;
}

.EntryDayContainer > .ant-card-body {
  padding: 0;
}

.EntryDayContainer .sum .ant-badge {
  margin-left: 24px;
}

.EntryDayContainer .sum.grey .ant-badge .ant-badge-count {
  background-color: #999999;
}

.EntryDayContainer .sum.blue .ant-badge .ant-badge-count {
  background-color: #1890ff;
}

.EntryDayContainer .sum.green .ant-badge .ant-badge-count {
  background-color: #52c41a;
}