.EntryTitleOptionFrequency {
  position: absolute;
  right: 24px;
  color: #999;
}

.FlexFormItem .ant-form-item-children {
  display: flex;
}

.EntryFormContainer .EntriesCategoryShowSwitch {
  width: 60px;
  margin: 2px 0 4px 10px !important;
}

.EntryFormContainer .EntriesCategoryShowAutoComplete {
  width: 100%;
}

.EntryFormContainer .EntryFormCategoryRow .ant-form-item-control .ant-form-item-children {
  display: flex;
  width: 100%;
}