.EntryDaysDiv {
  display: flex;
  justify-content: space-between;
  overflow: visible;
  padding: 16px 18px;
}

.EntryWeekContainer > .ant-collapse
.ant-collapse-content-box {
  max-height: 400px;
  overflow: scroll;
  padding: 0;
}

.EntryWeekContainer > .ant-collapse > .ant-collapse-item > .ant-collapse-content {
  padding: 0;
}
