.EntryView .ArrowButtonDiv {
  display: flex;
  justify-content: center;
  margin: 0 12px;
}

.EntryView .ArrowButtonColDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.EntryView .ArrowButtonRowDiv {
  margin: 16px 12px 0 12px;
}
