.DiaryApp .DiaryAppTitleDiv {
  display: flex;
  width: auto;
  float: left;
}
.DiaryApp .DiaryAppTitleDiv h1, .DiaryApp .DiaryAppTitleDiv h4 {
  margin: 0;
}
.DiaryApp .ant-layout-header {
  background-color: transparent;
}
.DiaryApp .ant-menu {
  line-height: 64px;
  display: flex;
  flex-wrap: nowrap;
  float: right;
  border: none;
}

.DiaryApp .ant-menu .ant-menu-item {
  padding: 0 0 0 6px;
}