.DiaryHeaderContainer .DiaryAppTitleDiv {
  display: flex;
  width: auto;
  float: left;
}
.DiaryAppTitleDiv h1, .DiaryAppTitleDiv h4 {
  margin: 0;
}
.DiaryHeaderContainer.ant-layout-header {
  background-color: white;
  height: 72px;
}
.DiaryHeaderContainer.ant-layout-header.noLogin {
  width: 400px;
  margin: 0 auto;
}
.DiaryHeaderContainer.ant-layout-header:not(.noLogin) {
  position: fixed;
  bottom: 0;
  z-index: 900;
  left: 0;
  right: 0;
  border-top: 2px solid #ccc;
  padding: 0;
}
.DiaryHeaderContainer.ant-layout-header:not(.noLogin) .DiaryHeaderMenuItemContainer {
  flex: 0 0 25%;
}
.DiaryHeaderContainer.ant-layout-header:not(.noLogin) .ant-menu {
  width: 100%;
  float: unset;
}
.DiaryHeaderContainer.ant-layout-header:not(.noLogin) .ant-menu .typeButton,
.DiaryHeaderContainer.ant-layout-header:not(.noLogin) .ant-menu .userButton {
  width: 100%;
  height: 100%;
  border-radius: 0;
  border: none;
}
.DiaryHeaderContainer.ant-layout-header:not(.noLogin) .ant-menu .typeButton {
  border-right: 1px solid #ccc;
}
.DiaryHeaderContainer.ant-layout-header:not(.noLogin) .DiaryHeaderMenuItemContainer.active > .typeButton {
  background-color: rgba(24, 144, 255, 0.3);
}
.DiaryHeaderContainer.ant-layout-header:not(.noLogin) .ant-menu .ant-menu-item {
  padding: 0;
}
.DiaryHeaderContainer .ant-menu {
  line-height: 68px;
  display: flex;
  flex-wrap: nowrap;
  float: right;
  border: none;
}
.DiaryHeaderContainer .ant-menu .ant-menu-item {
  padding: 0 0 0 6px;
}
.DiaryHeaderContainer .ant-menu .ant-btn {
  padding: 0 8px;
}
.UserMenuContainer .ant-dropdown-menu-item {
  line-height: 42px;
}
.UserMenuContainer .usernameItemGroup ul.ant-dropdown-menu-item-group-list {
  list-style: none;
  padding-left: 0;
}
.UserMenuContainer .usernameItemGroup ul.ant-dropdown-menu-item-group-list .ant-dropdown-menu-item {
  padding-left: 24px;
}
.logo {
  display: flex;
  align-items: baseline;
}
