.DiaryApp .DiaryAppTitleDiv {
  display: flex;
  width: 180px;
  float: left;
}
.DiaryApp .DiaryAppTitleDiv h1, .DiaryApp .DiaryAppTitleDiv h4 {
  margin: 0;
}
.DiaryApp .ant-layout-header {
  background-color: transparent;
}
.DiaryApp .ant-menu {
  line-height: 64px;
}