.TodoObject {
  justify-content: center;
}

.TodoObject .ant-checkbox-inner {
  transform: scale(2.5);
}

.TodoObject .ant-checkbox-wrapper {
  width: 40px;
  height: 40px;
  margin-top: 12px;
}

.TodoObject .ant-list-item-content {
  flex: 1 1 auto;
}

.TodoObject .ant-list-item-meta {
  margin: 0 16px 0 0;
}
.TodoObject .ant-list-item-content {
  margin: 0;
}
.TodoObject .ant-list-item-action {
  margin: 0 0 0 16px;
}

.TodoObject .ant-list-item-action > li {
  display: block;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 12px;
}

.TodoObject .editButton, .TodoObject .deleteButton {
  padding-left: 0;
  padding-right: 0;
}

.TodoObject .priority {
  display: inline-block;  
}

.TodoObject .dueDate {
  padding: 12px 0;
  font-size: 14px;
  display: inline-block;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: center;
  background: #aaa;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  line-height: 32px;
  border-radius: 16px;
}
