.WeekContainer {
  display: flex;
  justify-content: space-between;
  overflow: scroll;
}

.WeekContainerCard > .ant-card-body {
  padding: 0;
}

.WeekContainerCard > .ant-card-body
.ant-collapse-content > .ant-collapse-content-box {
  max-height: 600px;
  overflow: scroll;
}
