.DigestSearchBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.DigestSearchBarContainer .DigestSearchDiv {
  margin-left: 36px;
}
.DigestSearchContainer.ant-collapse > .ant-collapse-item > .ant-collapse-header .arrow {
  line-height: 56px;
}
.highlightDiv .highlight {
  background-color: #ffd54f;
}
.highlightCategoryLabelSpan {
  margin-left: -24px;
  font-weight: bold;
  display: block;
}
