.DigestSearchBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.DigestSearchBarContainer .DigestSearchDiv {
  flex: 0 0 80%;
}
.DigestSearchContainer.ant-collapse-item > .ant-collapse-header .arrow {
  line-height: 56px;
}
