.DigestObject .title {
  margin: 6px;
  font-size: 24px;
}

.DigestObject.ant-list-item-action {
  flex-wrap: nowrap;
}

.DigestObject .ant-list-item-content {
  flex-wrap: wrap;
}
.DigestObject .ant-list-item-action {
  margin: 0 0 0 8px;
  flex: 0 0 40px;
}
.DigestObject .ant-list-item-action > li {
  display: block;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 12px;
}

.DigestObject .DigestRow {
  flex: 0 0 100%;
  align-content: center;
}

.DigestObject ._id.grey {
  line-height: 22px;
}

.DigestObject .lastModified,
.DigestObject .createTimestamp {
  line-height: 20px;
  height: 22px;
  padding: 0 7px;
  border-radius: 4px;
  border: 1px solid #eee;
  display: inline-block;
  margin-right: 8px;
}

.DigestEditFormModal .ant-modal-body {
  padding: 0;
}
