.ReminderMiniObject {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 8px 12px;
  border-radius: 2px;
  border: 1px solid lightgray;
  background: #fff;
  line-height: 1;
  position: relative;
  overflow: hidden;
  align-items: center;
}

.ReminderMiniObject .anticon-exclamation-circle-o {
  font-size: 24px;
  line-height: 24px;
  margin-right: 6px;

}

.ReminderMiniObject .title {
  flex: 0 0 auto;
  margin-right: 24px;
  overflow-wrap: break-word;
}

.ReminderMiniObject .cycle {
  flex: 0 0 auto;
  overflow-wrap: break-word;
}

.ReminderMiniObject .content {
  flex: 0 0 100%;
  overflow-wrap: break-word;
  max-width: 100%;
}
